<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brendan Fineran</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="page-content">
        <!-- Create a header for the page -->

        <head>
            <!--Page NAV header-->
            <h1 id="header-tag"><a href="{{ url_for('home') }}">Brendan Fineran</a></h1>
            <ul id="header-links-list">
                <!--Turn li into flask usable links-->
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('gigs') }}">Gigs</a></li>
                <li><a href="{{ url_for('lessons') }}">Lessons</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>

        </head>

        {% block content %}
        {% endblock %}
    </div>
</body>

</html>